<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Cycle Safe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='leaflet-routing-machine.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <h1>Cycle Safe <em>beta</em><span class="bike">🚲</span></h1>
    <div style="position:absolute; top:4px; right:10px;">
        <a target="_blank" href="https://drive.google.com/open?id=14yjY995fmCv-6Ln5sxX3OA6OGX-XU4t6">Resume (pdf)</a>
        | <a target="_blank" href="https://linkedin.com/in/lemartinet">LinkedIn</a> 
        | <a target="_blank" href="https://github.com/lemartinet/cycle-safe/">Github</a></div>
    <div style="text-align: center;">This project was developed during the Insight Data Science Fellow Program (Boston, 2019). 
        <br/>For more information, <a href='/slides/'>view the presentation</a>.
        <br/><em>Disclaimer</em>: this app is a prototype, always be careful while biking.
        <br/><br/>Show the <a href="" class="button" id="fastest_route">fastest route</a>, <a href="" class="button" id="interm_route">intermediate route</a>  or <a href="" class="button" id="safest_route">safest route (default).</a> 
    </div>
    {# <div id="info-container"></div> #}
    <div id="map" class="map"></div>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script> 
    <script src="{{ url_for('static', filename='bundle.js') }}"></script>
</body>
</html>